<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>[%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.http4s.server" level="info"/>
    <logger name="org.http4s.client" level="info"/>
    <logger name="io.chrisdavenport" level="debug"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>